body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
}
    /* Barre en-tête ------------------------------------------------------------------------------------ */
    header {
        width: 100%;
        height: 8vh;
        background: none;
        top: 0;
        position: fixed;
        display: flex;
        justify-content: flex-start;
    }
    header section {
        width: 100%;
        height: 100%;
        background: black;
        position: fixed;
        z-index: 1; /* En dessous du menu glissant */
        transition: opacity 1s;
    }
        .cachee {
            opacity: 0;
            visibility: hidden;
        }
        .visible {
            opacity: 0.7;
            visibility: visible;
        }
    header #burger {
        width: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1.5vh 2vh 1.5vh 2vh;
    }
        header #burger div {
            width: 100%;
            height: 0.6vh;
            margin: 0.4vh;
            background: #212528;
        }

    /* Barre de navigation -------------------------------------------------------------------------------- */
    nav {
        z-index: 3; /* über alles */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 100%;
        position: fixed;
        background: #212528;
        transition: transform 1s;
    }
    .neutre{
        width: 17%;
    }
    .mobile {
        width: 80%;
        transform: translateX("0%");
    }
        /* Section profil */
        nav #profil {
            height: 30vh;
            margin: 5vh 15% 5vh 15%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
            nav #profil h1,h2 {
                color: white;
                font-size: 2.5vh;
                font-family: Arial, Helvetica, sans-serif;
                padding: 0;
                margin: 0;
            }
            nav #profil h2 {
                color: #afafaf;
                font-size: 2vh;
            }
            nav #profil img {
                height: 20vh;
                align-self: center;
                margin-bottom: 5vh;
                border-radius: 100%;
            }
        /* Section navigation */
        nav #navigation {
            height: 65vh;
        }
            nav #navigation a {
                display: flex;
                justify-content: space-between;
                color: #9e9e9e;
                text-decoration: none;
                font-family: fantasy;
                font-size: 2vh;
                padding: 2vh 10% 2vh 10%;
            }
            nav #navigation a.active {
                background-color: #1d2023;
                color: white;
            }
            nav #navigation a:hover:not(.active) {
                background-color: #313436;
                color: white;
            }
            nav #navigation span {  
                font-size: 2.5vh;
            }
        /* Section social */
        nav #social {
            height: 5vh;
            text-align: center;
        }
            nav #social a {
                color: rgb(177, 177, 177);
                font-size: 2vmin;    
                padding: 0.8vmin;
            }
    
    /* Conteneur principal */    
    main {
        transition: margin-left 1s;
        background-image: url(../img/bg.jpg);
        background-size: auto 100vh;
    }
        /* Première ancre */
        #grandePhoto {
            
            color: black;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100vh;
        }
        /* Deuxième ancre */
        #grandePhoto2 {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100vh;
            background-color: red;
        }
        /* Troisième ancre */
        /* Quatrième ancre */

        .bouton {
            align-self: flex-end;
            padding: 20px;
            margin-bottom: 40px;
            font-size: 24px;
            text-align: center;
            text-decoration: none;
            background:#f5f5f5;
            color:#555;
            border-radius:2px;
            width:200px;
            border:1px solid #ccc;
            box-shadow:3px 3px 6px rgb(77, 77, 77);
        }
















    /* Adaptation à la taille d'écran ------------------------------------------------------------------------- */
    /* Smartphone */
    @media screen and (max-width: 1100px) {
        .neutre{
            transform: translateX(-100%);
            width: 80%;
        }
        main {
            margin-left: 0;
            transition: margin-left 1s;
        }
    }
    /* Tablette */
    @media screen and (min-width: 1101px) {
        .neutre{
            transform: translateX(0%);
            width: 17%;
        }
        main {
            margin-left: 17%;
            transition: margin-left 1s;
        }
    }
